<div id="new-map-body" class="cc-body">
  <div class="container-fluid py-5">
    <div class="row">
      <div class="display-map col-5 my-auto ml-auto">
        <div id="classics_challenge_map" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      </div>
      <div id="customize-map" class="col-5 my-auto mr-auto">
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-customize-map" role="tabpanel" aria-labelledby="pills-home-tab">
            <div id="accordion-style">
              <div class='right'>
                <div class='app'>
                  <div class='app_inner'>
                    <input id='tab-1' name='buttons' type='radio' disabled="true">
                    <label for='tab-1'>
                      <div class='app_inner__tab'>
                        <h2><i id="cc-icon"><%= image_tag "logo-cc.png", class: "logo-cc"%></i>Poster Finisher 2019</h2>
                      </div>
                    </label>
                    <input id='tab-2' name='buttons' type='radio' checked disabled="true">
                    <label for='tab-2'>
                      <div class='app_inner__tab'>
                        <!-- <h2>Design</h2> -->
                        <div class='tab_right'>
                          <div class="m-3">
                            <h2>La récompense</h2>
                            <p id="classic-challenge-text">Un joli cadeau à s'offrir que ce poster personnalisé, si vous avez aimé la saison 3 des Classics Challenge. Chez Posterity, on l'a roulée et on l’adorée. La procédure est hyper simple. Connectez-vous à votre Strava, sélectionnez vos activités, saisissez votre nom, c'est tout.</p>
                          <!-- <h3>Choisissez un style pour votre poster</h3> -->
                            <!-- <input class="btn btn-cc-yellow" id='ck2kdyw7z0e5t1ck0ffszwwh3' type='button' name='rtoggle' data-toggle="tooltip" data-placement="top" title="CC-yellow">
                            <input class="btn btn-cc-white" id='other' type='button' name='rtoggle' data-toggle="tooltip" data-placement="top" title="CC-white"> -->
                            <div class="row justify-content-center mr-0">
                            <% if @activities %>
                              <% if @activities.length > 0 %>
                                <div class="traces-list flex-track">
                                  <% @activities.first(100).each do |activity|%>
                                     <div class="content"><span class="btn btn-track activity-cc-btn p-2 m-2" id="activity_<%= @activities.index(activity) + 1 %>" data-id="<%= @activities.index(activity) + 1 %>" data-toggle="tooltip" data-title="<%= activity["name"] %>"data-polyline="<%= activity['map']['summary_polyline'] %>" data-image="<%= activity["type"] %>" data-distance="<%= activity["distance"]%>" data-time="<%= activity["moving_time"]%>" data-speed="<%= activity["average_speed"] %>" data-elevation="<%= activity["total_elevation_gain"] %>"><%= activity["name"] %></span></div>
                                  <% end %>
                                  <a href="#" id="loadMore" class="btn-posterity">Load More</a>
                                </div>
                                <div class="input-group-prepend fields-input title-map-input mt-3">
                                  <input class="ride-title form-control" placeholder="Ajoutez votre nom sur le poster" type="text" name="ride-name" value="<%= @user_name %>">
                                </div>
                              <% else %>
                                <h3>You have no recorded activities on this strava account</h3>
                              <% end %>
                            <% else %>
                              <div class="row justify-content-center">
                                  <a href="http://www.strava.com/oauth/authorize?client_id=38164&response_type=code&redirect_uri=<%= ENV["APP_HOST"] %>/maps/classics_challenge&approval_prompt=force&scope=read,activity:read"><div class="btn-posterity" id="test">Connectez votre Strava</div></a>
                              </div>
                            <% end %>
                            </div>
                            <%= simple_form_for(@map) do |f| %>
                              <%= f.input_field :format, :as => :hidden, collection: ['21x30cm - 25€', '30x45cm - 39€', '50x70cm - 55€'], class: 'value-format', :checked => ['30x45cm - 39€'].first %>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </label>
                    <input id='tab-4' name='buttons' type='radio' disabled="true">
                    <label for='tab-4'>
                      <div class='app_inner__tab'>
                        <h2>
                          <div id="order-button" class="btn-posterity">Commandez</div>
                        </h2>
                      </div>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-checkout" role="tabpanel" aria-labelledby="pills-profile-tab">
              <div id="accordion-style">
                <div class='right'>
                  <div class='app'>
                    <div class='app_inner'>
                      <input id='tab-5' name='buttons' type='radio'>
                      <label for='tab-5'>
                        <div class='order'>
                          <h2>Merci de renseigner vos informations pour finaliser la commande</h2>
                          <div class="row justify-content-center m-3 box-order">
                            <div id="back-button" class="btn-posterity"><i class="fas fa-arrow-left"></i> Back to custom</div>
                            <%= simple_form_for(@map) do |f| %>
                              <%= f.input :format, :as => :hidden, :input_html => { :value => "30x45cm - 39€" } %>
                              <%= f.input :map_url, :as => :hidden, :input_html => { :value => "https://res.cloudinary.com/ma-v/image/upload/v1575553773/CC-AFFICHE-RECAP-V3_1_uo4q4o.jpg" } %>
                              <%= f.input :title, :as => :hidden, :input_html => { :value => "" } %>
                              <%= f.input :distance, :as => :hidden, :input_html => { :value => "" } %>
                              <%= f.input :speed, :as => :hidden, :input_html => { :value => "" } %>
                              <%= f.input :elevation, :as => :hidden, :input_html => { :value => "" } %>
                              <%= f.input :time, :as => :hidden, :input_html => { :value => "" } %>
                              <%= f.simple_fields_for :orders do |orders_form| %>
                                <%= orders_form.input :first_name %>
                                <%= orders_form.input :last_name %>
                                <%= orders_form.input :email %>
                                <%= orders_form.input :phone %>
                                <%= orders_form.input :address %>
                                <%= orders_form.input :post_code %>
                                <%= orders_form.input :city %>
                                <%= orders_form.input :country, as: :country, priority: ['FR'] %>
                                <%= orders_form.input :strava_id, :as => :hidden, :input_html => { :value => "Unknown" } %>
                              <% end %>
                            <% end %>
                            <div class="checkout d-flex justify-content-around">
                              <button class="btn-posterity order-btn" id="submit_map">Get your poster</button>
                            </div>
                          </div>
                        </div>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="openstreetmaps-credit">
      Map data by <a href="http://www.openstreetmap.org/" target="blank">OpenStreetMaps contributors</a>
    </div>
  </div>
</div>
