<p style="display: none;" id="coordinates"></p>
<script>
  $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-5 my-auto ml-auto">
      <div id="mapid" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
    <div class="col-5 d-flex align-middle">
      <div class="map-styles">
        <h2>Give some style to your map:</h2>
        <div class="container">
          <% if @activities %>
            <div class="row justify-content-center">
              <div class="traces-list m-4">
                <h5>Your latests traces :</h5>
                <% @activities.first(10).each do |activity|%>
                 <span class="btn-path rounded-circle" id="activity_<%= @activities.index(activity) + 1 %>" data-toggle="tooltip" data-title="<%= activity["name"] %>"data-polyline="<%= activity['map']['summary_polyline'] %>" data-image="<%= activity["type"] %>"><i class="fas fa-route"></i></span>
                <% end %>
              </div>
            </div>
            <br>
            <div class="row justify-content-center">
              <div class="traces-color m-4">
                <h5>Pick a color for your trace(s):</h5>
                <input type="color" id="ride-color-picker" name="head" value="#e66465">
                <span class="btn-path rounded-circle" id="blue-ride"></span>
                <span class="btn-path rounded-circle" id="red-ride"></span>
                <span class="btn-path rounded-circle" id="yellow-ride"></span>
              </div>
            </div>
            <div class="row justify-content-center m-4">
              <div class="m-4"  id='menu'>
              <h5>Chose a style for your map:</h5>
                <input class="btn btn-white" id='cjzntfday07bs1cop5ja6cf09' type='button' name='rtoggle' data-toggle="tooltip" data-placement="top" title="White">

                <input class="btn btn-grey" id='cjzscv5r74lgd1cnmzxjxrht1' type='button' name='rtoggle' data-toggle="tooltip" data-placement="top" title="Grey">

                <input class="btn btn-black" id='cjznt9nfm0ewd1cnmagwe6hcn' type='button' name='rtoggle' data-toggle="tooltip" data-placement="top" title="Black">

                <input class="btn btn-blue" id='cjznskfqy08fq1cl23dig2tjf' type='button' name='rtoggle' data-toggle="tooltip" data-placement="top" title="Blue">

              </div>
            </div>
            <div class="row">
              <% else %>
                <a href="http://www.strava.com/oauth/authorize?client_id=38164&response_type=code&redirect_uri=<%= ENV["APP_HOST"] %>/maps/new&approval_prompt=force&scope=read,activity:read"><div class="btn-posterity" id="test">Connect your strava</div></a>
              <% end %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= simple_form_for(@map) do |f| %>
  <%= f.input :title, as: :hidden %>
  <%= f.input :image, as: :hidden %>
  <%= f.input :format, as: :radio_buttons, collection: ['A3 - 39€', 'A2 - 59€'] %>
  <%= f.submit class: "btn-posterity"%>
<% end %>

<button id="print-map"> PRINT MY MAP</button>






