<h1><%= @token %></h1>
<p><%= @access_token %></p>
<p><%= @athlete_id %></p>
<p>Biggest Ride : <%= @biggest_ride %></p>

<ul>
<% @activities.first(10).each do |activity|%>
<li class="btn btn-primary" id="activity_<%= @activities.index(activity) %>" data-polyline="<%= activity['map']['summary_polyline'] %>"><%= activity["name"] %></li>
<% end %>
</ul>

<p>first activity details</p>

<p id="coordinates"></p>

<button id="button">TEST DRAW</button>

<div id="map" style="height: 500px" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>