<h1><%= @token %></h1>
<p><%= @access_token %></p>
<p><%= @athlete_id %></p>
<p>Biggest Ride : <%= @biggest_ride %></p>
  <div class="row">
  <!-- <div class="col-sm-6"> -->
    <% @activities.first(3).each do |activity|%>
    <div class="card m-1 text-center">
        <div class="card-body card-trip p-5">
            <img src="<%= @athlete_pic %>" class="card-trip-user avatar-bordered" />
          <h5 class="card-title"><li class="btn btn-primary" id="activity_<%= @activities.index(activity) %>" data-polyline="<%= activity['map']['summary_polyline'] %>" data-title="<%= activity["name"] %>" data-image="<%= activity["type"] %>"><%= activity["name"] %></li></h5>
          <p class="card-text"><%= activity["distance"]/1000  %> Km</p>
          <p class="card-text"> Date: <%= activity["start_date"]  %></p>
        </div>
      </div>
      <% end %>
    </div>
  </div>

<p>first activity details</p>

<p id="coordinates"></p>
<%= simple_form_for(@map) do |f| %>
  <%= f.input :title, as: :hidden %>
  <%= f.input :image, as: :hidden %>
  <%= f.submit class: "btn btn-primary"%>
<% end %>


<div id="map" style="height: 500px" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>



