<div id="new-map-body">
  <div class="container-fluid py-5">
    <div class="row">
      <div class="display-map col-5 my-auto ml-auto">
        <div id="mapid" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      </div>
      <div id="customize-map" class="col-5 my-auto mr-auto">
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-customize-map" role="tabpanel" aria-labelledby="pills-home-tab">
            <div id="accordion-style">
              <div class='right'>
                <div class='app'>
                  <div class='app_inner'>
                    <input id='tab-1' name='buttons' type='radio' checked>
                    <label for='tab-1'>
                      <div class='app_inner__tab'>
                        <h2>
                        <i class='icon fas fa-route'></i>
                        Choose your tracks
                        </h2>
                        <div class='tab_left'>
                           <i class='big icon fas fa-route'></i>
                          <div class='tab_left__image'>
                            <i class='icon fas fa-route'></i>
                          </div>
                        </div>
                        <div class='tab_right tab-track'>

                              <div class="row justify-content-center mr-0">
                              <% if @activities %>
                                <div class="traces-list flex-track">
                                  <% @activities.first(20).each do |activity|%>
                                   <div class="content"><span class="btn btn-track activity-btn p-2 m-2" id="activity_<%= @activities.index(activity) + 1 %>" data-id="<%= @activities.index(activity) + 1 %>" data-toggle="tooltip" data-title="<%= activity["name"] %>"data-polyline="<%= activity['map']['summary_polyline'] %>" data-image="<%= activity["type"] %>" data-distance="<%= activity["distance"]%>" data-time="<%= activity["moving_time"]%>" data-speed="<%= activity["average_speed"] %>" data-elevation="<%= activity["total_elevation_gain"] %>"><i class="fas fa-bicycle"></i> <%= activity["name"] %></span></div>
                                  <% end %>
                                  <a href="#" id="loadMore" class="btn-posterity">Load More</a>
                                </div>

                              <% else %>
                              <div class="row justify-content-center">
                                  <a href="http://www.strava.com/oauth/authorize?client_id=38164&response_type=code&redirect_uri=<%= ENV["APP_HOST"] %>/maps/new&approval_prompt=force&scope=read,activity:read"><div class="btn-posterity" id="test">Connect your strava</div></a>
                              </div>
                              <% end %>
                          </div>
                        </div>
                      </div>
                    </label>
                    <input id='tab-2' name='buttons' type='radio'>
                    <label for='tab-2'>
                      <div class='app_inner__tab'>
                        <h2>
                        <i class="icon fas fa-palette"></i>
                        Pick color & theme
                        </h2>
                        <div class='tab_left'>
                          <i class='big icon fas fa-palette'></i>
                          <div class='tab_left__image'>
                            <i class='icon fas fa-palette'></i>
                          </div>
                        </div>
                        <div class='tab_right'>
                          <div class="m-3"  id='menu'>
                          <h3>Chose a style for your map</h3>
                            <input class="btn btn-mcblue" id='cjzv1fkiq0iiy1cka8g7j39qp' type='button' name='rtoggle' data-toggle="tooltip" data-placement="top" title="Monochrome-Blue">

                            <input class="btn btn-ski" id='cjzv15gtn0qo21cnr79a5fggb' type='button' name='rtoggle' data-toggle="tooltip" data-placement="top" title="Swiss-Ski">

                            <input class="btn btn-blueprint" id='cjzv2l6go01wi1cqibequuxje' type='button' name='rtoggle' data-toggle="tooltip" data-placement="top" title="Blueprint">

                            <input class="btn btn-green" id='cjzv3hkp30svs1cp5xeexv54g' type='button' name='rtoggle' data-toggle="tooltip" data-placement="top" title="Green-Streets">

                            <input class="btn btn-bnw" id='cjzv480dn016g1cphwep22jef' type='button' name='rtoggle' data-toggle="tooltip" data-placement="top" title="Black-White">
                          </div>
                          <% if @activities %>
                            <div class="traces-color m-3">
                              <h3>Pick a color for your track</h3>
                              <input type="color" id="ride-color-picker" class= "btn-path rounded-circle btn-color-picker" name="head" value="#e66465">
                              <span class="btn-path rounded-circle btn-color-blue" id="blue-ride"></span>
                              <span class="btn-path rounded-circle btn-color-white" id="white-ride"></span>
                              <span class="btn-path rounded-circle btn-color-fushia" id="fushia-ride"></span>
                            </div>
                          <% end %>
                        </div>
                      </div>
                    </label>
                    <input id='tab-3' name='buttons' type='radio'>
                    <label for='tab-3'>
                      <div class='app_inner__tab'>
                        <h2>
                        <i class='icon far fa-chart-bar'></i>
                        Add title & info
                        </h2>
                        <div class='tab_left'>
                          <i class='big icon far fa-chart-bar'></i>
                          <div class='tab_left__image'>
                            <i class='icon far fa-chart-bar'></i>
                          </div>
                        </div>
                        <div class='tab_right'>
                          <div class="input-group mb-3 d-flex justify-content-end">
                            <div class="input-group-prepend fields-input title-map-input">
                              <input class="ride-title form-control" placeholder="Title of your Map" type="text" name="ride-title">
                              
                              <% if @activities %>
                              <div class="form-check-inline">
                                <label class="form-check-label label-map dist-map" for="inlineCheckbox1">Add Distance</label>
                                <input class="form-check-input" type="checkbox" id="activity-distance" value="option1">

                              </div>
                              <div class="form-check form-check-inline">
                                <label class="form-check-label label-map" for="inlineCheckbox2">Add Average Speed</label>
                                <input class="form-check-input" type="checkbox" id="activity-speed" value="option2">

                              </div>
                              <div class="form-check form-check-inline">
                                <label class="form-check-label label-map" for="inlineCheckbox3">Add Time</label>
                                <input class="form-check-input" type="checkbox" id="activity-time" value="option3">
                              </div>
                              <div class="form-check form-check-inline">
                                <label class="form-check-label label-map" for="inlineCheckbox3">Add Elevation</label>
                                <input class="form-check-input" type="checkbox" id="activity-elevation" value="option4">
                              </div>
                              <% end %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </label>
                    <input id='tab-4' name='buttons' type='radio'>
                    <label for='tab-4'>
                      <div class='app_inner__tab'>
                        <h2>
                        <i class="icon fas fa-print"></i>
                        Print your Poster
                        </h2>
                        <div class='tab_left'>
                          <i class='big icon fas fa-print'></i>
                          <div class='tab_left__image'>
                            <i class='icon fas fa-print'></i>
                          </div>
                        </div>
                        <div class='tab_right'>
                          <%= simple_form_for(@map) do |f| %>
                            <%= f.input_field :format, as: :radio_buttons, collection: ['30x40cm - 39€', '50x70cm - 59€'], class: 'value-format', :checked => ['30x40cm - 39€', '50x70cm - 59€'].first %>
                        <% end %>
                        <% if @activities %>
                            <div id="order-button" class="btn-posterity">Checkout</div>
                        <% end %>
                        </div>
                      </div>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-checkout" role="tabpanel" aria-labelledby="pills-profile-tab">
              <div id="accordion-style">
                <div class='right'>
                  <div class='app'>
                    <div class='app_inner'>
                      <input id='tab-5' name='buttons' type='radio'>
                      <label for='tab-5'>
                        <div class='order'>
                          <h5>Please fill your information to create your order:</h5>
                          <div class="row justify-content-center m-3 box-order">
                            <div id="back-button" class="btn-posterity order-btn"><i class="fas fa-arrow-left"></i> Back to custom</div>
                            <%= simple_form_for(@map) do |f| %>
                                <%= f.input :format, :as => :hidden, :input_html => { :value => "" } %>
                                <%= f.input :map_url, :as => :hidden, :input_html => { :value => "" } %>
                                <%= f.input :title, :as => :hidden, :input_html => { :value => "" } %>
                                <%= f.input :distance, :as => :hidden, :input_html => { :value => "" } %>
                                <%= f.input :speed, :as => :hidden, :input_html => { :value => "" } %>
                                <%= f.input :elevation, :as => :hidden, :input_html => { :value => "" } %>
                                <%= f.input :time, :as => :hidden, :input_html => { :value => "" } %>
                                  <%= f.simple_fields_for :orders do |orders_form| %>
                                      <%= orders_form.input :first_name %>
                                      <%= orders_form.input :last_name %>
                                      <%= orders_form.input :address %>
                                      <%= orders_form.input :email %>
                                  <% end %>
                            <% end %>
                            <div class="checkout d-flex justify-content-around">
                              <button class="btn-posterity order-btn" id="submit_map">Get your poster</button>
                            </div>
                          </div>
                        </div>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="openstreetmaps-credit">
      Map data by <a href="http://www.openstreetmap.org/" target="blank">OpenStreetMaps contributors</a>
    </div>
  </div>
</div>





