<h1><%= @token %></h1>
<p><%= @access_token %></p>
<p><%= @athlete_id %></p>
<p>Biggest Ride : <%= @biggest_ride %></p>
  <div class="row">
  <!-- <div class="col-sm-6"> -->
    <% @activities.first(10).each do |activity|%>
    <div class="card m-5 text-center">
        <div class="card-body card-trip p-5">
            <img src="<%= @athlete_pic %>" class="card-trip-user avatar-bordered" />
          <h5 class="card-title"><li class="btn btn-primary" id="activity_<%= @activities.index(activity) %>" data-polyline="<%= activity['map']['summary_polyline'] %>"><%= activity["name"] %></li></h5>
          <p class="card-text"><%= activity["distance"]/1000  %> Km</p>
          <p class="card-text"> Date: <%= activity["start_date"]  %></p>
          <a href="" id="api_mapbox"> Test</a>
        </div>
      </div>
      <% end %>
    </div>
  </div>

<p>first activity details</p>

<p id="coordinates"></p>

<div id="map" style="height: 500px" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

