<p style="display: none;" id="coordinates"></p>
<div class="container-fluid">
  <div class="row">
    <div class="col-5 my-auto mx-auto">
      <div id="mapid" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
    <div class="col-5 my-auto ml-auto">
      <div class="map-styles">
        <h1>Give some style to your map:</h1>
        <p class="bg-white"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum et laudantium iusto aut, esse excepturi, dolor vitae amet similique labore quisquam ipsam fugit sunt alias! Placeat ipsam, ut reprehenderit repellat.</span>
        <span>Totam nam ipsa vel expedita non consectetur odit rem. Totam necessitatibus natus laudantium aliquam ipsa dolore doloribus adipisci. Similique eveniet saepe nam enim fugiat deleniti, perferendis voluptates commodi dolorum temporibus.</span>
        <span>Mollitia, eaque. Dolores iure excepturi repudiandae doloremque deleniti quaerat at officia qui? Suscipit similique eius corrupti voluptatum sapiente, pariatur, asperiores modi omnis minus praesentium veniam ea? Saepe distinctio modi excepturi.</span></p>

        <% if @activities %>
          <% @activities.first(10).each do |activity|%>
           <button class="btn-path rounded-circle" id="activity_<%= @activities.index(activity) %>" data-toggle="tooltip" data-title="<%= activity["name"] %>"data-polyline="<%= activity['map']['summary_polyline'] %>" data-image="<%= activity["type"] %>"><i class="fas fa-route"></i></button>
          <% end %>
        <% else %>
          <a href="http://www.strava.com/oauth/authorize?client_id=38164&response_type=code&redirect_uri=<%= ENV["APP_HOST"] %>/maps/new&approval_prompt=force&scope=read,activity:read"><div class="btn-posterity" id="test">Connect your strava</div></a>
        <% end %>
        <button class="btn btn-success btn-style">test</button>
      </div>
    </div>
  </div>
</div>

<%= simple_form_for(@map) do |f| %>
  <%= f.input :title, as: :hidden %>
  <%= f.input :image, as: :hidden %>
  <%= f.submit class: "btn-posterity"%>
<% end %>

<button id="print-map">PRINT MY MAP</button>

<div id='map-leaflet' class='map'> </div>
