<h1><%= @token %></h1>
<p><%= @access_token %></p>
<p><%= @athlete_id %></p>
<p>Biggest Ride : <%= @biggest_ride %></p>

<ul>
<% @activities.first(10).each do |activity|%>
<li class="btn btn-primary" id="activity_<%= @activities.index(activity) %>" data-polyline="<%= activity['map']['summary_polyline'] %>"><%= activity["name"] %></li>
<% end %>
</ul>

<p>first activity details</p>

<p id="polyline" visibility="hidden"><%= @activities[0]["map"]["summary_polyline"] %></p>
