<div class="offer-navbar">
  <p>Release offer - Free Shipping during 30 days 🇫🇷</p>
</div>
<div class="banner">
    <h1 id="h-title"></h1>
    <p>Customize a poster of the itineraries you're the most proud of</p>
    <a class="btn-home" href="/maps/new">DESIGN  YOUR  POSTER</a>
</div>

<div class="container-fluid" id="bg-hiw">
	<div class="section-1 p-5">
    <h1 class="m-3">How it works</h1>
		<div class="HIW">
		  <div class="hiw-card">
        <%= image_tag "riding.svg" %>
        <h5>Import your last records</h5>
		    <p>Connect your strava account and select the achievements(s) you want to print</p>
		  </div>
		  <div class="hiw-card">
        <%= image_tag "map.svg" %>
        <h5>Customize your poster</h5>
		    <p>Make your personalized map as unique as your performance</p>
		  </div>
		  <div class="hiw-card">
        <%= image_tag "poster.svg" %>
	      <h5>Order your high quality poster</h5>
		    <p>...wait a few days, and let yourself shine</p>
		  </div>
		</div>
    <a class="btn-posterity mx-auto my-5" href="/maps/new">CREATE YOUR OWN</a>
	</div>
</div>
<div>
  <h1 class="m-3">Inspiration</h1>
  <div id="carouselExampleControls" class="carousel slide multi-item-carousel" data-ride="carousel" data-interval="3000">
    <div class="carousel-inner">
      <div class="carousel-item active inspiration">
        <%= image_tag "albania-kitchen.png" %>
      </div>
      <div class="carousel-item inspiration">
        <%= image_tag "giro-italia.png" %>
      </div>
      <div class="carousel-item inspiration-small">
        <%= image_tag "scotland-pink.png" %>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<%= render 'shared/footer' %>
